* {
  padding: 0;
  margin: 0;
}
.sliderBanner {
  position: relative;
}
.sliderBanner ol {
  position: absolute;
  left: 50%;
  bottom: 10px;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.sliderBanner ol li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.sliderBanner ol li.active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: rgba(255,255,255,1);
}
.sliderBanner .sliderInner {
  width: 100%;
}
.sliderBanner .sliderInner ul {
  width: 200%;
}
.sliderBanner .sliderInner ul li {
  display: none;
  width: 50%;
}
.sliderBanner .sliderInner ul li.prev,
.sliderBanner .sliderInner ul li.active,
.sliderBanner .sliderInner ul li.next {
  display: block;
}